[2015-04-05 22:21] georgiamoon opened #2 "Slider/timeline widget is also a chart and shows the test volume by month"

[2015-04-05 22:21] georgiamoon opened #3 "Add some visual treatment to the infowindows"

[2015-04-05 22:22] georgiamoon opened #4 "Add units to infowindows"

[2015-04-05 22:25] georgiamoon opened #5 "Have an option layer of the point data from the tests"
Building on how we prototypes this..
- Data would need to be scattered additionally (to avoid overlapping points) and/or aggregated to make clear when all coming from one IXP/ASN
- Could be points and routes some day (allow for pathing where we have data available)

[2015-04-05 22:29] georgiamoon opened #6 "Add hooks in for additional layers from public datasets"
- National Broadband map data: http://www.broadbandmap.gov/developer/
- Census: http://www.census.gov/data/developers/data-sets.html
- CKAN: http://docs.ckan.org/en/latest/api.html
- Socrata: http://dev.socrata.com/

Some of @alyssa-smith's work will be useful here:
https://github.com/alyssa-smith/broadband-map
https://github.com/alyssa-smith/naive-bayes-broadband

For Socrata - this snippet might

[2015-04-05 22:35] georgiamoon opened #7 "Integrate NDT test to allow a user to run their own test"
- could leverage HTML Geolocation to improve lat/lon quality
- should then show the user's data point on the map with the layers from M-Lab and other public datasets
- allow for a user to include information about their internet connection, e.g. type of location (home, business, coffeeshop, etc), type of connection (residential, commercial), known costs (optional), etc.

See notes from @alyssa-smi

[2015-04-05 22:41] georgiamoon opened #8 "Remove infowindow for hexes w/no data"
It's surprising to the user that an info window shows up on something that they can't see.

This might be best handled by only drawing hexes with data, which would also potentially help improve performance.

[2015-04-05 22:43] georgiamoon opened #9 "Match the opacity of the hexes to the map legend"
Right now this is most noticeable with the gray for the "insufficient data" hexes where the gray in the legend is much darker than on the map.

[2015-04-08 21:25] mtlynch opened #10 "Multiplier to translate from octets ACKed to Mbps should be 8 instead of 125"
In bigquery/bq_download-dist and bigquery/bq_upload-dist, the multiplier 125 is used to convert from BigQuery's units (bytes/microsecond) into Mbps:

[code]

This value should be 8 instead of 125.

1 byte/microsecond \* 8 bits/byte =
8 bits/microsecond \* (1 / 1,000,000) megabits/bit =
8 / 1,000,000 megabits/microsecond \* 1,000,000 microseconds/second =
8 megabits/second => 8 Mbps

[2015-04-08 21:28] mtlynch opened #11 "Switching to UL throughput metric causes permanent hang"
If I load the data at:

http://files.opentechinstitute.org/~kinkade/bq2geojson/html/

And then switch the Metric to "UL throughput" I see a Loading text appear, but it never goes away and I can't interact with the map at all after that.

I'm using Chrome 41, Ubuntu 14. Last entries in the console are:

[code]

[2015-04-09 18:28] #10 closed, assigned to nobody

[2015-04-10 01:07] nkinkade commented on #8
Fixed: https://github.com/m-lab/bq2geojson/commit/ed96799ab6b4ca54a0409e61de08a0b85da19d93

[2015-04-10 01:07] #8 closed, assigned to nobody

[2015-04-10 13:46] #11 closed, assigned to nobody

[2015-04-10 13:58] #4 closed, assigned to nobody

[2015-04-10 14:00] nkinkade commented on #5
What do you mean by "option layer"?  Is this just a suggestion for some possible improvements to the existing "scatter plot" layer?

[2015-04-10 14:02] georgiamoon commented on #5
Typo sorry - "optional."

I think you actually covered this already. I was just wanting to document that we know we need to do something to the data to make it more representative rather than the X,Ys that come from BQ.

[2015-04-10 14:05] #9 closed, assigned to nobody

[2015-04-10 14:08] nkinkade commented on #9
With the exception of the "Insuff. data" legend item, all other hex colors already did match the legend colors (.5).

[2015-04-10 14:09] georgiamoon commented on #9
Yes, thanks! I just wrote the feature request poorly.

On Fri, Apr 10, 2015 at 10:08 AM, nkinkade notifications@github.com wrote:

##

Georgia Bullen
Senior Data Analyst
Open Technology Institute http://newamerica.org/oti/ @ New America
http://newamerica.org
@georgiamoon http://twitter.com/georgiamoon

[2015-04-15 20:31] nkinkade opened #14 "Why do scatter plot layers drag down Firefox, but not Chrome?"
Enabling the scatter plot layer in Firefox causes the UI to lag and hang tremendously, whereas in Chrome they seem to be quite responsive.  Why?  Perhaps we can ask the Mapbox people for some insight?

[2015-04-15 20:34] nkinkade opened #15 "Use TopoJSON instead of GeoJSON on server side."
We'll still need to convert the TopoJSON files to GeoJSON once the browser has it, but the TopoJSON files can represent the same data as a GeoJSON file, but with a filesize of less than 50%, which will help with loading files across the Internet.  Hopefully leaflet-omnivore can covert them to GeoJSON in the browser with minimal overhead.

[2015-04-19 23:43] georgiamoon opened #16 "feed a different polygon file in to join to the m-lab data"
It'd be useful to be able to feed a different geosjon layer, e.g. council districts and join the data so that we have median values by district

I started to look at http://turfjs.org/static/docs/module-turf_median.html as a way to do it, but just didn't have time to finish it today.

[2015-04-21 20:28] nkinkade commented on #16
Using any set of arbitrary polygons should be really easy to incorporate, and pretty much zero work with regard to Turf.js.   Finding or producing the set of polygons seems like more of a challenges.

[2015-04-21 20:30] georgiamoon commented on #16
There are lots that exist already (e.g. districts, census tracts, etc). Would it be possible to feed in a shapefile? or does turf need geo/topojson?

[2015-05-06 20:51] nkinkade commented on #16
With the latest commits, this feature is now implemented.  Closing.

[2015-05-06 20:51] #16 closed, assigned to nobody

[2015-05-18 20:14] georgiamoon opened #17 "default view to most recent data"
Right now the default is to start at Jan 2015, we should start at the most recent month and year of data.

[2015-08-12 17:11] critzo opened #19 "Fix typo"
"You're approximate location" should be "Your approximate location"

[2015-08-12 17:18] critzo opened #20 "Use the IHT test UI in place of the current test UI"
The Internet Health Test UI https://github.com/internethealthtest/internethealthtest , http://internethealthtest.org provides a richer UI that also matches the Seattle color scheme.

[ ] Clone the IHT repo https://github.com/internethealthtest/internethealthtest
[ ] Strip out the test UI elements and replace the current test in bq2geojson

[2015-08-12 17:19] critzo opened #21 "How this works / about text"
Have something that explains to the user how this works, when the map is updated, etc.

[2015-08-12 17:21] critzo opened #22 "Default to today or most recent date"
Right now the timeline starts on Jan 2015, but we should start on the closest day to today.

[2015-08-12 17:21] critzo opened #23 "List of Seattle Map requirements"
For reference, the complete list of requirements is here:
https://github.com/openseattle/seanetmap/wiki/Requirements-from-the-City-of-Seattle%2C-Annotated#cityreq1-user-submits-their-broadband-experience

[2015-08-12 17:22] critzo opened #24 "style the post test input form, then hide the div so it only appears after the test is run"
Currently the div containing the post-test additional data form is exposed for styling purposes.
We need to style the form, then make the div hidden again.

[2015-08-12 17:22] critzo opened #25 "Update css to conform to Seattle's style guide"
Seattle has mocked up our test map hosted on linode on their QA site:
http://wwwqa.seattle.gov/broadband/broadband-map

We need to update the CSS, fonts and buttons to use their style guides:
- Fonts: http://wwwqa.seattle.gov/demo-home/design-elements/fonts
- Buttons: http://wwwqa.seattle.gov/demo-home/design-elements/buttons
- General web styles: http://wwwqa.seattle.gov/Documents/Departments/Dem

[2015-08-12 17:48] critzo opened #26 "Improve user experience of the submission form"
Currently, when a user submits the form successfully (with all fields completed), they are forwarded to a blank page. Instead, the user should be shown some message that indicates success and the page returned to its default state. A couple other suggestions are listed below also.
- [x] Upon submission, form should redirect to a success page/message, and reset the page to its original state
- [x]

[2015-08-12 17:54] critzo opened #27 "Allow for swapping between district and Census polygon layers"
Seattle would like two options for polygon layers:
- census block group
- city council districts

Add the ability to toggle between the shapefile for both of the above, defaulting to census block group

[2015-08-12 18:25] nkinkade commented on #22
Closing.  Duplicate of #10.

[2015-08-12 18:31] nkinkade commented on #27
Past conversation from piecewise repo issue:

nkinkade: This is a nice feature, generally, but are you sure that Seattle actually wants this? My understanding is that they wanted to stay away from aggregating by council districts because it was potentially too politically charged.

critzo: In our last conversation with them, they would like the ability to toggle between census block groups and cou

[2015-08-12 19:38] nkinkade commented on #22
Fixed by @c169591. Closing.

[2015-08-12 19:38] #22 closed, assigned to nkinkade

[2015-08-12 19:54] critzo commented on #27
I sent a note to the Seattle folks asking to confirm their needs on this feature.

[2015-08-13 17:30] nkinkade commented on #15
This was implemented in @f97f6cf.  Closing.

[2015-08-13 17:30] #15 closed, assigned to nkinkade

[2015-08-13 17:31] nkinkade commented on #14
Closing as largely irrelevant now, and the answer is likely some deep architectural issue with Firefox which won't be able to change anyway.

[2015-08-13 17:31] #14 closed, assigned to nkinkade

[2015-08-13 17:32] nkinkade commented on #17
Duplicate of #22, which is already resolved.  Closing.

[2015-08-13 17:32] #17 closed, assigned to nobody

[2015-08-13 17:34] nkinkade commented on #19
Fixed in commit @b7edc47 ... it hasn't been merged back to the main piecewise branch, but presumably will be soon.

[2015-08-13 17:34] #19 closed, assigned to nobody

[2015-08-13 17:35] nkinkade commented on #7
Basic implementation done in @c8c4eaf, just needs to be made pretty.  Closing

[2015-08-13 17:35] #7 closed, assigned to nobody

[2015-08-13 17:37] nkinkade commented on #5
Closing ticket.  Scatter plot layer is already present and configurable, but may at some future point need to be adjusted to compensate for the low quality of the geo data we have for tests.

[2015-08-13 17:37] #5 closed, assigned to nobody

[2015-08-13 17:39] nkinkade commented on #3
Closing ticket.  This enhancement will be part of the entire makeover to the UI being done by @gembarrett.

[2015-08-13 17:39] #3 closed, assigned to nobody

[2015-08-13 17:48] critzo commented on #19
That branch (piecewise-css) has a number of other changes that probably
shouldn't be merged, so my sense is that we should abandon that branch
and fix issue #19 in a different feature branch.

branch piecewise-css also shows that a number of other files are being
tracked that maybe shouldn't be. What do you think @nkinkade ?

[2015-08-13 17:57] gembarrett commented on #19
It's fixed on my branch timeline-ui-tweaks so can just bring that in to deal with the issue

[2015-08-13 18:01] nkinkade commented on #19
Oops.  I just committed a fix to the piecewise branch @501f9e1.  When we go to merge those may conflict, but should be trivial to resolve manually.  In any case, I think we can safely leave this issue closed.

[2015-08-13 20:40] critzo commented on #27
Seattle folks have confirmed that having both layers available is ideal.

[2015-08-14 13:02] nkinkade commented on #27
Okay, I'll get this implemented.

[2015-08-14 16:49] critzo opened #29 "adjust color scheme for map legend and overlay colors"
The map legend and shape overlay colors should be adjusted using the suggestions below from the City of Seattle:
- Dark green. Two or more gigabit providers observed (Download speed > 900mbps)
- Light green. One or more providers observed (Download speed >900mbps)
- Light yellow. Two or more providers observed providing broadband (Download speed >20mpbs)
- Yellow. One or more providers observed pr

[2015-08-14 17:05] critzo opened #30 "improve readability and styling of map areas' pop-up windows"
The current pop-up bubbles show the basic M-Lab data points, but are not formatted for readability.
Data points to include in the pop-up:
- Download speeds (median)
- Upload speeds (median)
- Latency - round trip time (mean)

Additionally, if possible, it would be nice to have:
- a description of the census block group area if it exists, at the top of the bubble
- a list of providers in that area

[2015-08-14 17:19] critzo opened #31 "Provide city level summary data"
Per [city requirement 3.3](https://github.com/openseattle/seanetmap/wiki/Requirements-from-the-City-of-Seattle%2C-Annotated#cityreq33), somewhere in the UI we need a city-level summary showing performance by provider with the following:
- Median Download Speed
- Median Upload Speed
- Mean Latency (RTT)
- Diurnal graph showing performance by time of day

[2015-08-14 17:21] critzo commented on #31
The last bit about performance by time of day might also include the same by provider to meet the similar piece in https://github.com/m-lab/bq2geojson/issues/30

[2015-08-14 17:56] critzo opened #32 "Change minimum data points to 5"
In index.html, we set the minimum data points for aggregation in a particular shape area. It's currently set to 30 and should be set to 5 per [CityReq2.1](https://github.com/openseattle/seanetmap/wiki/Requirements-from-the-City-of-Seattle%2C-Annotated#cityreq21)

Look for:
var minDataPoints = 30

[2015-08-18 14:32] critzo commented on #20
IHT's UI is difficult to separate out, so instead we'll change the colors and styles on the current test UI.

[2015-08-18 14:48] #32 closed, assigned to critzo

[2015-08-18 18:48] critzo opened #38 "complete UI testing across major browsers/OSs and adjust css accordingly"

[2015-08-18 20:13] critzo commented on #20
Styled the test colors using the Seattle blue.

[2015-08-18 20:13] #20 closed, assigned to critzo

[2015-08-18 20:14] critzo commented on #26
@nkinkade updated the form to provide success/fail messaging in https://github.com/opentechinstitute/piecewise/commit/b22301cceca7ca0ad70ff12ad207910a621923fe

This should let us have a separate response/display for the user upon success/fail of the form submission.

[2015-08-18 20:15] critzo commented on #24
this appears to be completed.

[2015-08-18 20:15] #24 closed, assigned to nobody

[2015-08-18 21:36] critzo commented on #21
Initial text added to the ? section. Seattle will review and comment.

[2015-08-20 01:01] gembarrett commented on #29
light yellow is too light to be visible (even tried lightgoldenrodyellow and removed opacity on the legend colours) so maybe need to rethink that.

Also the order of colours is a bit confusing. We seem to be going full colour, light colour, light, full, light, full. Wondering if light yellow and yellow should be swapped around?

Think I may need some guidance on how we're picking up the "two or mo

[2015-08-20 12:29] critzo commented on #29
The color spec above is copied verbatim from Seattle's original documentation, and I think we can just consider it a guideline. As long as we use colors that work for readability we'll be ok.

On the  ISPs/providers, we aren't pulling in that data currently. The M-Lab data shows a bit of the ISP info, which we can query via the piecewise API and get json back, but it's incomplete.

I think we shou

[2015-08-20 12:34] georgiamoon commented on #29
Do these colors work for colorblindness? Probably something we should check!

[2015-08-20 12:52] critzo commented on #31
Piecewise provides some aggregation by ISP from M-Lab data, but it's not complete and lists too few ISPs. This could be due to not enough or incorrect data from maxmind that is brought in by Telescope, or it could be that the Maxmind data is not updated. In any case, we have all the data listed in the requirement except for the hour/by/hour graph of data by time of day. @nkinkade can we parse the

[2015-08-20 13:00] critzo opened #41 "add "ISP" to extra_data table"
ISP data from M-Lab via Maxmind is incomplete at best. Instead, we should add an ISP select list to the extra_data table, and an element to the form in the UI, so users running tests from the Seattle portal can select their ISP.

[2015-08-20 13:02] critzo opened #42 "add "ISP" as a select list in the post-test form"
per #41, we need to have users select their ISP in the post test form since we don't have good enough data in M-Lab/Maxmind to aggregate test data by ISP.

[2015-08-20 13:05] critzo commented on #30
Data by provider is incomplete at best in M-Lab data, so for 8/24 we'll not try to aggregate that data in popups as described above. Instead, we'll add a form element to collect ISP info from users per #41 and #42, and possibly add that data in aggregate to the "city level summary" (see #31) at a later time (after initial launch).

[2015-08-20 13:07] critzo commented on #30
This was addressed in https://github.com/m-lab/bq2geojson/pull/40

[2015-08-20 13:07] #30 closed, assigned to critzo

[2015-08-20 13:08] critzo commented on #29
@georgiamoon good call. we should use colors that work for colorblindness

[2015-08-20 13:11] georgiamoon commented on #42
Can we pre-populate a list of the known ISPs and then provide an other
category if the user's ISP isn't listed? My concern here is just that the
data that people enter is likely to be messy, so if we can make it
clean-ish, we make it easier to analyze/feed stats elsewhere on the site.

[2015-08-20 13:15] critzo commented on #42
@georgiamoon absolutely. I'm seeing this as a select list with known ISPs, not a text box entry for that very reason.

[2015-08-20 13:23] georgiamoon commented on #42
Sounds great.

We should allow for an "other" with a text entry, just in case.

[2015-08-20 14:18] gembarrett commented on #29
This site has a tool showing what a webpage or image looks like to those with different types of colour blindness http://www.vischeck.com/vischeck/vischeckImage.php - could be handy for testing the visibility

[2015-08-20 16:22] critzo commented on #42
@georgiamoon @gembarrett @nkinkade
I added a select form with a start on the javascript to show a "other" text option when other is selected in the isp list: https://github.com/m-lab/bq2geojson/commit/1cc8405e2f1d46448e8eb789529cad963a4b4eb5

My JS skills are rudimentary though. Could one of you review? Thanks.

[2015-08-20 18:55] critzo commented on #42
this is fixed with https://github.com/m-lab/bq2geojson/commit/a7cf12b780a6250eb45ddd8373a9b9eafc85ec05

[2015-08-20 18:59] #42 closed, assigned to critzo

[2015-08-20 21:16] critzo commented on #41
This was addressed in: https://github.com/m-lab/bq2geojson/pull/44
and in: https://github.com/opentechinstitute/piecewise/pull/19

But leaving this issue open until data submission is confirmed.

[2015-08-21 16:33] nkinkade commented on #27
Done. m-lab/bq2geojson@a72c1d4 ... also closed opentechinstitute/piecewise#13

[2015-08-21 16:33] #27 closed, assigned to nkinkade

[2015-08-21 22:40] critzo commented on #41
Data submission confirmed.

[2015-08-21 22:40] #41 closed, assigned to critzo

[2015-08-22 00:00] nkinkade opened #51 "M-Lab link on intro screen should have www."
The link currently points to http://measurementlab.net, which just gets redirected to www.measurementlab.net.... might as well save the user a request, and make sure that search engines pick up the right link.

[2015-08-22 00:04] nkinkade opened #52 "Collapse layer control by default?"
We might consider collapsing the layer control by default.  It will save space, especially on mobile devices.  Especially with only one base layer to select from, the only reason to have it there is make it obvious to a user that they can view stats by council district:

https://github.com/m-lab/bq2geojson/blob/piecewise/html/index.html#L354

Close this ticket if this isn't a good idea.

[2015-08-22 00:45] georgiamoon commented on #52
@gembarrett and I were talking about this. Agreed.
On Aug 21, 2015 8:04 PM, "nkinkade" notifications@github.com wrote:

[2015-08-22 19:30] critzo commented on #52
I also added this to hide the basemap control and separator when it's expanded:
https://github.com/m-lab/bq2geojson/commit/73ee957d26d344c0589fcaad5fbc8314eaf41385

[2015-08-24 15:03] gembarrett commented on #52
Added to mobile-menu so collapsed by default (along with location and legend).

[2015-08-24 15:03] #52 closed, assigned to nobody

[2015-08-24 15:25] #25 closed, assigned to nobody

[2015-08-24 15:34] #51 closed, assigned to nobody

[2015-08-24 15:36] gembarrett commented on #38
All seems fine in Chrome, Safari and Firefox on Mac. Screen is a little crowded on iPhone 5S size. Considering how to fix.

[2015-08-24 19:56] critzo commented on #29
I ran a screen grab of the map through this site and attached are the results. I think we're ok. Others may wish to review/confirm.
Original:
![orig](https://cloud.githubusercontent.com/assets/4633345/9450764/8f410058-4a78-11e5-891a-4e35a27f030b.jpg)

![deuteranope-red-green-check](https://cloud.githubusercontent.com/assets/4633345/9450778/9ee79774-4a78-11e5-9f11-fe9e5f765fc8.jpg)
![protanope-red-

[2015-08-25 13:42] critzo opened #59 "hide legend and timeline on small screens when other tabs are open"
On small screens like my phone , the legend, timeline and top bar get in the way of the test tab, post test form and about page content.

for small screens we should consider closing/hiding these elements when the right side tabs are open.

[2015-08-26 15:58] georgiamoon opened #62 "play button doesn't stop playing"
Maybe it's just mine? But it keeps playing even when I pause it.

[2015-08-27 15:10] #29 closed, assigned to nobody

[2015-08-27 15:25] #26 closed, assigned to nobody

[2015-08-27 17:00] critzo opened #64 "Add a popup for areas that don't have enough data to be aggregated"

[2015-08-27 19:42] gembarrett commented on #59
Similar design/layout to initial load (no bottom bar, sidebar, etc) - just add a dismiss button

[2015-08-27 19:42] critzo commented on #59
Let's plan to revisit this issue as a future feature, or if Seattle brings up the issue.

[2015-08-27 19:43] critzo commented on #21
This is largely done to our team satisfaction. Closing this issue and we'll open new ones based on new feedback from Seattle.

[2015-08-27 19:43] #21 closed, assigned to critzo

[2015-09-01 20:10] #64 closed, assigned to nobody

[2015-09-04 10:50] critzo opened #66 "Various UI and browser compatibility fixes"
Windows 7 Pro SP1:
- IE
- Chrome (44.0.2403.155 m)
  *
- Firefox (40.0.3):
  *

[2015-09-08 19:31] critzo opened #67 "Modifications to the post-test submission form"
- [x] Test form should be optional - provide a means for users to not fill out the additional form data. Maybe a button that says "No thanks" for example. If they shared HTML5 geolocation, save the lat/long without saving the other fields. Present the user with a success message after clicking submit or "no thanks"
- [x] Double check the submission of the post-test form. Some test users are report

[2015-09-09 00:27] critzo commented on #67
@nkinkade it would be helpful if you can take a look at this as well.

[2015-09-09 19:30] nkinkade commented on #67
For the 2nd issue (form not submitting): 1) the message is misleading (introduced in @2d3bb89) since it's a server error not an issue with filling out the form or not) 2) the error is something on their server ("Internal Server Error"), likely something to do with uwsgi... I'm written Jim at Seattle asking him to investigate further and provide more information.

[2015-09-09 21:58] nkinkade opened #68 "Post-test submission form should have javascript validation"
Piecewise implements some basic backend validation for data submitted by users after a speed test has  been run, but it's only sufficient to make sure no spurious data ends up in the database.  The frontend should also implement some basic validation.  I'm not sure what that validation looks like, since I'm not sure what Seattle thinks on that front.  Some things that occur to me:
- There is a hid

[2015-09-10 13:22] critzo commented on #68
I think we should make the call on frontend validation for Seattle. They may have some feedback once their security people test the form, and we can also ask this question to confirm what they want, but at a minimum, if the test is not completed I don't see any reason to store a record in extra_data. @georgiamoon @gembarrett any other thoughts?

Another question - Map aggregation only uses the HTM

[2015-09-10 14:10] critzo commented on #62
This wasn't happening for me. Georgia was using Chrome on Mac. @gembarrett let's look for this in browser testing (#66)

[2015-09-10 14:49] georgiamoon opened #69 "Remove ISP from user data form"
Seattle doesn't want a user drop down in the form, instead they want to show the ISP as determined from Maxmind.

[2015-09-10 14:54] georgiamoon opened #70 "Turn off scroll to zoom on the map"
Particularly because of the iframe size on the Seattle page, let's turn off scroll to zoom so that users don't get trapped in the map zooming and can get to the controls.

[2015-09-10 14:55] georgiamoon opened #71 "Add a max for Zoom out on the map"
Let's stop people from zooming out past the State level.

[2015-09-10 14:57] georgiamoon opened #72 "Rethink the title bar on the map"
I think we could remove the header bar and just keep some of the controls.

See here what the map embeded on Seattle's page looks like: http://wwwqa.seattle.gov/broadband/broadband-map

Desktop:
![screen shot 2015-09-10 at 10 53 06 am](https://cloud.githubusercontent.com/assets/941210/9791759/b46e8186-57aa-11e5-9b8f-83a23e489903.png)

Mobile:
![screen shot 2015-09-10 at 10 53 18 am](https://cloud.

[2015-09-10 15:55] nkinkade commented on #67
@critzo, which parts of this issue are you assigning to me?  I just want to be sure nothing falls through the cracks, because my understanding as of yesterday as that @gembarrett would handle the first issue (the "No Thanks" button) and that I'd handle the second (form submission not working).  The 2nd issue has been resolved.  Let me know....

[2015-09-10 15:57] nkinkade commented on #68
Map aggregation uses the lat/lon in the extra_data table, if it exists for a given test, otherwise it falls back on the lat/lon provided by our MaxMind data.

[2015-09-10 17:11] critzo commented on #67
@nkinkade You are correct. this really should have been two issues. Now that you've covered the second portion, we can reassign to @gembarrett for the first portion.

[2015-09-11 15:45] critzo commented on #69
ISP has been removed in the form.

[2015-09-11 15:45] #69 closed, assigned to nobody

[2015-09-11 15:47] critzo opened #73 "Detect and show a users' ISP when the test being run"
Similar to the way the Measure app shows the user's ISP, show the user what ISP we've detected they're on based on a lookup of their IP in the Maxmind table.

[2015-09-16 14:47] critzo commented on #31
The issue with ISPs not being included has been resolved. This query of the stats endpoint provides JSON suitable for summary level data by ISP by month:

http://45.79.197.214/stats/q/by_census_block?format=json&stats=AverageRTT,DownloadCount,MedianDownload,AverageDownload,UploadCount,MedianUpload,AverageUpload&b.isp_bins&b.spatial_join=key&b.isp_bins&b.time_slices=month

See more about the time s

[2015-09-16 14:49] georgiamoon commented on #31
Sweeeeeeeeeet.

On Wed, Sep 16, 2015 at 10:47 AM, critzo notifications@github.com wrote:

##

Georgia Bullen
Open Technology Institute http://newamerica.org/oti/ @ New America
http://newamerica.org
@georgiamoon http://twitter.com/georgiamoon

[2015-09-16 17:33] critzo commented on #67
@gembarrett Just pushed to branch "form-opt-out". If you can add the interaction via JS that would be swell.

[2015-09-17 15:08] gembarrett commented on #70
Hmm I've got some usability concerns about removing this default and expected interaction - not seen it interfere with the controls so far, can we chat about this?

[2015-09-17 16:43] georgiamoon commented on #70
just to capture the convo here. It's pretty standard practice to turn this
off because if we don't it can capture the user's mouse unintentionally. I
think it will be more usable if we disable scrollWheelZoom which if just an
option on the map settings (also easy to change back if it seems to cause
problems).

On Thu, Sep 17, 2015 at 11:08 AM, Gem Barrett notifications@github.com
wrote:

##

Georg

[2015-09-17 22:19] #59 closed, assigned to nobody

[2015-09-17 22:22] critzo commented on #67
Noting our conversation here that we'll also be introducing a step through form to save screen real estate and to provide an initial user choice on whether to complete the form are all.

[2015-09-17 22:24] critzo commented on #66
Same as #38. Closing.

[2015-09-17 22:24] #66 closed, assigned to nobody

[2015-09-18 14:49] gembarrett commented on #72
Removed the header title and intro prompt button (as the section accessible from the side panel kind of does the job anyway). Just working out moving the zoom controls and location info without messing up the other control elements - so far it's like playing Jenga with code.

[2015-09-21 17:08] critzo opened #77 "Update Intro text and repeat under Info button"
Seattle would like the following text to be used in the Intro area and repeated when the 'i' Info button is clicked:

"The Seattle Broadband map's goal is to illustrate progress toward the Mayor’s goal of competitive, equal, and affordable broadband service that approaches a rapidly evolving gigabit standard.

The map shows real-world broadband experiences across the city, and allows the public to

[2015-09-21 17:11] critzo opened #78 "Update text for About This Map -- under the question button"
Seattle would like the following text to be used for the 'About This Map' section under the ? button:

"M-Lab data is combined with speed tests contributed from this website provide a picture of Seattle's broadband experience over time. The more data that is contributed, the more accurate the map will become.
The speed test data you submit here is submitted to M-Lab, is aggregated to assure that i

[2015-09-21 17:13] critzo opened #79 "Update text next to the NDT test"
Seattle would like the following text to be used in the area next to the NDT test:

You can contribute to this map!
To start, simply hit the button on the left and answer the questions at the end. All data is kept anonymous and used to improve the state of Seattle’s broadband.

[2015-09-21 17:19] critzo opened #80 "Addition of disclaimer text"
At the bottom of the page, a popup area should be added that shows the following Disclaimer text:

"Please be aware that the results of the Seattle Broadband Map speed test may vary due to factors other than the actual speed of your internet connection. The device you’re using, operating system, browser, time of day, whether you’re using WiFi or a wired connection, whether you have another process

[2015-09-21 17:19] critzo opened #81 "Contents for the “How the Broadband Map and Speed Test Work” (FAQ) page"
This is envisions as a page separate, but linked to, from the map.  It will contain detailed explanations of:
1. How the Map and Speed Test Work
2. Why variances in results should be expected
3. Why this test varies for others like speedtest.com (w/ visual comparison)
4. How the data will be used
5. Contact information
6. Other questions as they arise

[2015-09-22 02:23] #77 closed, assigned to critzo

[2015-09-22 02:23] #78 closed, assigned to critzo

[2015-09-22 02:23] #79 closed, assigned to critzo

[2015-09-22 02:30] critzo commented on #67
@gembarrett This is the issue requesting a step-by-step form.

[2015-09-22 02:33] critzo opened #83 "position of shape layer select box and zoom controls"
these controls are in the way of the main test and info controls. they should be moved to the lower right or left side.

[2016-01-18 12:04] critzo commented on #83
closing issues not relating to seattle.

[2016-01-18 12:04] #83 closed, assigned to nobody

[2016-01-18 12:04] critzo commented on #81
This content has been moved to the Seattle site pages. closing

[2016-01-18 12:04] #81 closed, assigned to nobody

[2016-01-18 12:05] #80 closed, assigned to nobody

[2016-01-18 12:05] critzo commented on #73
This will be possible when we update NDT.js

[2016-01-18 12:08] #72 closed, assigned to nobody

[2016-01-18 12:08] #68 closed, assigned to nobody

[2016-01-18 12:09] #67 closed, assigned to nobody

[2016-01-18 12:10] critzo commented on #31
@georgiamoon is working on this in the charts branch

[2016-01-18 12:10] #31 closed, assigned to georgiamoon

[2016-01-18 12:10] #23 closed, assigned to critzo

[2016-01-18 12:11] #71 closed, assigned to nobody

[2016-01-18 12:11] #70 closed, assigned to nobody

[2016-01-18 12:15] critzo opened #98 "move form to the front page, adjust text"
- [x] Insert the form on the first page (replaces current “about” text); eliminating the second step and the need to rearrange buttons; this will also be what pops up if you click the test-taking button directly from the map
- [x] Move form elements and make layout pretty
- [x] Make adjustments to mlab.js to show/hide appropriate divs
- [x] Adjustments to collector form in piecewise repo
- [x] Con

[2016-01-18 12:19] critzo opened #99 "various font size CSS modifications"
- [x] Significantly increase the font size on the opening div
- [ ] When you take the test: Have just the percentages displayed, in the center, with text centered underneath (right now it is off to the side)
- [x] Increase font size of text under the button (“Measuring upload speed…”)
- [ ] Drop the colon after “Your Test Results”; center this text; add optional links below (do not send users on a

[2016-01-18 12:22] critzo opened #100 "adjustments to social share text and buttons"
- [ ] Shrink size of social share buttons
- [ ] Fix Twitter share button so it’s just “@CivicTechSea” (from @@SeattleCTO)
- [ ] Update email share to:
  SUBJ: “Take the Seattle Broadband Speed Test”
  BODY: “I just took the Seattle Broadband Speed Test, and you should too! Click <here> to take the test and contribute to a map of broadband speeds across the city.”

[2016-01-18 12:23] critzo opened #101 "update/replace speed test icon with compass icon"
- [ ] Change the speed gauge to a compass rose;
- [ ] replace the play button with “record” or a speed gauge

[2016-01-18 16:40] critzo commented on #100
working on these items in branch 1-14-16_userexp_changes https://github.com/opentechinstitute/bq2geojson/commit/30fcf5c04424c420585d5691cb111e1c88543923

[2016-01-18 16:46] critzo commented on #99
@gembarrett completed most/all of these and merged into the piecewise branch. Double-checking to confirm.

[2016-01-18 19:12] JohnTigue commented on #101
I mulled this over for a bit.

FIrst, there was confusion: standard record is a **red** button not a square (my bad). OK, consider a red button: that doesn't go well with the current styling color. Maybe an off red, one which isn't maximally saturated. Or we could change the color of all buttons from the current aqua blue to an off-black, which would be similar to the coloring on Google Maps which

[2016-01-18 19:41] critzo commented on #101
Feedback from the call with the city was that we should use a similar color
scheme for the new icon.
On Jan 18, 2016 2:12 PM, "John Tigue" notifications@github.com wrote:

[2016-01-18 19:56] JohnTigue commented on #101
Yep, I think part of that might have been that us folks in Seattle were imagining the square as record, when actually circle is the record. Something along the lines of the following is the standard users are trained to already:
![](http://thumbs.dreamstime.com/z/media-player-control-button-ui-icon-set-vector-white-app-buttons-home-46012899.jpg)

Nonetheless I can try an aqua-blue circle, which fi

[2016-01-19 01:42] critzo commented on #98
@gembarrett Could you assist with div showing/hiding functions on 1/18? I've mapped out the interaction, and it's much simpler I think than before. Maybe we can discuss Tues.
@nkinkade I've made some changes to the collector to support the changes in the form and was hoping we could discuss and have you check that work tomorrow as well.

[2016-01-19 14:50] georgiamoon commented on #101
How about this icon for the compass: http://fortawesome.github.io/Font-Awesome/icon/compass/

Here's a play button: http://fortawesome.github.io/Font-Awesome/icon/play/

I'm a fan of Font Awesome and Flat UI: http://designmodo.github.io/Flat-UI/. Ionicons also look fine.

[2016-01-19 18:42] JohnTigue commented on #101
OK, I'll try the ones you recommend.

[2016-01-19 20:25] ghost commented on #101
http://www.clipartbest.com/cliparts/4Tb/oEp/4TboEprac.png
http://simpleicon.com/wp-content/uploads/compass-6.png

I was thinking something like that? The Font Awesome one LOOKS great but I am worried it's not intuitive enough.

[2016-01-19 20:29] critzo commented on #101
I personally like the second link you posted, Candace.

[2016-01-20 11:57] JohnTigue commented on #101
I'm still confused as to what I am supposed to be doing for this Issue.

The title of this Issue is "update/replace speed test icon with compass icon" and the first comment on this page is the two item list:
- [ ] Change the speed gauge to a compass rose;
- [ ] replace the play button with “record” or a speed gauge

Regarding the first of the two items on that list: sounds like from the latest mee

[2016-01-20 18:36] ghost commented on #101
Compass icon should take you to the map
Speed gauge should take you to the speed test
Question mark should take you to the about/faq
Up to you guys whether we need a "play/record" button at all
No opinion from my end as to what that needs to look like, "record" was a
suggestion from a user but I agree, we would not want it to be in red

On Wed, Jan 20, 2016 at 3:57 AM, John Tigue notifications@git

[2016-01-20 18:41] JohnTigue commented on #101
Agreed. No record button.

Nice simple mapping of icons to meanings in previous post. I will whip something up for a modified thankyou.html.

[2016-01-20 18:42] ghost commented on #101
Awesome.

On Wed, Jan 20, 2016 at 10:41 AM, John Tigue notifications@github.com
wrote:

##

Candace Faber

Seattle, WA

twt: @candacefaber

candacefaber.com http://www.candacefaber.com

[2016-01-20 23:54] JohnTigue commented on #101
Here's the license for the compass Candace recommended (the second of the two she linked to in this issue, which is the one Chris preferred):
http://simpleicon.com/license-agreement/

That's about as liberal as it gets so going with it.

Since [the info icon](http://broadbandmap.seattle.gov/images/about.svg) is SVG, I'm using the SVG version of the compass in question, the main page of which is:
h

[2016-01-21 10:14] JohnTigue commented on #101
Ok, I synthesized the notes in this Issue and mutated the goal into a general "clean up the thank you page" task as that seemed to be an area where no one else was working at this time and the page needed some love.

Before:
![thank-you-before](https://cloud.githubusercontent.com/assets/473077/12477180/fa0de7f4-bfe2-11e5-9e97-407a44e591cc.png)

<hr/>

After (my screen capture program failed to rec

[2016-01-21 18:06] civictechsea commented on #101
John, this looks great. If those share buttons can pop up when you click that link, then that sounds fine to me -- cleaner, better-looking for sure.

I've asked Michael Mattmiller for some final feedback, but I think we'll want to make some changes to the text so that they are all verbs in the command form and sans punctuation. Something like:

• View all results to-date on a map of Seattle [no pe

[2016-01-21 21:18] JohnTigue commented on #101
Candice's text changes folded in and PR #104 submitted.

The hide/show social-share-buttons will be a separate PR later today.

[2016-01-21 22:29] civictechsea commented on #101
Sounds good. John, last thing for now, should the compass icon be the same as the one on the landing page? (Compass rose vs compass face?)

Sent from my City iPhone

On Jan 21, 2016, at 1:18 PM, John Tigue <notifications@github.com<mailto:notifications@github.com>> wrote:

Candice's text changes folded in and PR #104https://github.com/opentechinstitute/bq2geojson/pull/104 submitted.

The hide/show

[2016-01-21 22:39] JohnTigue commented on #101
Oh, absolutely! This sounds like a knock on of where I didn't quite catch the full intent of the updates discussed on Friday's call. I didn't know there was a compass in the mix already. I will make sure they are sync: one and the same – only one compass icon in the code.

[2016-01-21 22:40] civictechsea commented on #101
Cool. And no worries. Appreciate all the effort to comply with our many requests!

Sent from my City iPhone

On Jan 21, 2016, at 2:39 PM, John Tigue <notifications@github.com<mailto:notifications@github.com>> wrote:

Oh, absolutely! This sounds like a knock on of where I didn't quite catch the full intent of the updates discussed on Friday's call. I didn't know there was a compass in the mix alrea

[2016-01-21 23:14] critzo commented on #101
Hi John and Candace,

First, apologies John for delays getting back to you. We'll review your
pull request, and look to merge in some changes to our testing server
tomorrow. We've also experimented with some of this too in a feature
branch, and will cherry pick the best of both.

Best, Chris
On Jan 21, 2016 5:40 PM, "Candace Faber" notifications@github.com wrote:

[2016-01-21 23:19] JohnTigue commented on #101
No rush. Please, take whatever is of value. I ended out getting a bit carried away last night so there was some scope creep which might cause some overlap with these feature branches you mention.

Let me know if there are more Issues I can help with.

[2016-01-21 23:26] JohnTigue commented on #101
The most important part is the actual text the users see on those 3 "buttons." That text came from Candace and Michael.

[2016-01-26 00:42] nkinkade opened #108 "Automatically start test when user clicks "Test Speed""
Right now, a user clicks the "Test Speed" button in the interface which takes them to a place where they must them launch the test by clicking another button.  That intermediate step should probably be removed since we already know they want to run the test once they click the "Test Speed" button on the introduction page.

[2016-02-09 15:40] gembarrett opened #112 "#mobile-menu is showing above 500px wide"
Reproduce:
1. reduce browser width so iframe is ~500px wide

Expected outcome:
1. default desktop view at bottom of screen: timeline bar, play button, speed and year options, legend

Actual outcome:
1. three lines are shown to the right of the timeline bar
<img width="101" alt="screen shot 2016-02-09 at 10 38 50" src="https://cloud.githubusercontent.com/assets/949948/12921037/55f7f254-cf19-11e5-99

[2016-02-09 15:42] georgiamoon opened #113 ""Download" is under the text box for input"
![screen shot 2016-02-08 at 9 57 28 pm](https://cloud.githubusercontent.com/assets/941210/12921161/d8c94b92-cf19-11e5-8952-08904e810079.png)

[2016-02-09 15:47] critzo opened #114 "Year/month/metrics selectors don't work on nexus 6"
When browsing the map on a nexus 6 Android phone, the metrics and date selectors are displayed but nothing happens when attempting to click on them

[2016-02-09 15:49] gembarrett commented on #113
Which browser or device is this?

[2016-02-09 15:50] georgiamoon commented on #113
On Chrome on Mac. I think it's only at certain widths (some of the middle sizes), but not exactly sure.

[2016-02-09 15:52] gembarrett commented on #114
I also saw this on iPhone, it's a mobile issue that must be fixed

[2016-02-09 15:57] critzo opened #115 "Scroll up required on mobile to take test"
On nexus 6, Android, landscape view, after completing he form and clicking take test icon, the user has to scroll up to see the actual test.

[2016-02-09 16:00] gembarrett commented on #115
Might be worth fixing this with Javascript, when link is clicked, use:
`window.scrollTo(0, 0);`

[2016-02-09 16:01] critzo opened #116 "Mobile menu show hide scales too small"
On mobile, nexus 6, the hamburger menu controlling show hide of the controls, scales too small in landscape view and floats left when controls are hidden. Should be a little larger and float right.

[2016-02-09 16:02] gembarrett opened #117 "Mobile menu is inaccessible"
iPhone 6S, Safari:
![slack_for_ios_upload png](https://cloud.githubusercontent.com/assets/949948/12921741/89ae93ac-cf1c-11e5-9f0e-b93f00418dcf.jpeg)

[2016-02-09 16:02] #101 closed, assigned to JohnTigue

[2016-02-09 16:02] #100 closed, assigned to critzo

[2016-02-09 16:02] #99 closed, assigned to critzo

[2016-02-09 16:03] gembarrett commented on #117
Map is taking up entire screen and therefore user cannot access the mobile menu - Seattle need to change the height of the iFrame.

[2016-02-09 16:04] gembarrett commented on #116
Can we have a screenshot please?

[2016-02-09 16:04] gembarrett commented on #116
Added low priority for now as sounds like still accessible, escalate if not

[2016-02-09 16:06] georgiamoon commented on #115
+1 -- let's do that.

[2016-02-09 16:13] gembarrett commented on #115
@critzo fix issued - please retest

[2016-02-09 16:19] gembarrett opened #118 "Very difficult to get out of zoom"
Zooming automatically happens when filling out form, but when going to the map it becomes very difficult to zoom back out again.

iPhone 6S, Safari

Proposed fix: prevent zooming (will mean that nothing else should require zooming for interaction)

[2016-02-09 16:21] gembarrett commented on #118
Zoom already disabled. Should investigate zooming back out after inputs lose focus.

[2016-02-09 16:26] gembarrett opened #119 "Test button is too small and weirdly styled"
![slack_for_ios_upload-1 png](https://cloud.githubusercontent.com/assets/949948/12922543/e9722562-cf1f-11e5-8b4e-17e44d4fa50f.jpeg)

[2016-02-09 16:26] gembarrett commented on #119
iPhone 6S, Safari

[2016-02-09 17:08] fernandalavalle opened #120 ""Download" gets cut off on form."
Using Mac and Chrome 48.0.
![downloadcutoff](https://cloud.githubusercontent.com/assets/3836867/12923961/c63fa050-cf25-11e5-9d7c-7279d67c0e27.png)

[2016-02-09 17:09] gembarrett commented on #114
related? https://github.com/mapbox/mapbox.js/issues/733

[2016-02-09 17:11] fernandalavalle opened #121 "Font change on menu bar and form."
Using Mac and Chrome 48.0.

When I first load http://files.opentechinstitute.org/~critzo/mlab/collab/seattle/broadband/broadband-speed-test, the font on the menu bar and the form seems larger than its supposed to and running over.
![toobigmenu](https://cloud.githubusercontent.com/assets/3836867/12924027/1a015c9c-cf26-11e5-8165-3e8448925fb1.png)

But when I navigate to http://www.seattle.gov/broadb

[2016-02-09 17:13] gembarrett commented on #120
Duplicate of #113

[2016-02-09 17:13] #120 closed, assigned to nobody

[2016-02-09 17:14] gembarrett commented on #121
Not for us - it's a copy of Seattle's site that's around our map.

[2016-02-09 17:14] #121 closed, assigned to nobody

[2016-02-09 17:18] gembarrett commented on #114
when you tap on the dropdown it also taps on the map - we need to separate the two

[2016-02-09 17:34] gembarrett commented on #114
Taking those controls out of the map results in them working - confirms there's interference coming from the map element

[2016-02-09 18:39] gembarrett opened #122 "Not being asked to share location"
on iPhone 6S I'm not actually getting asked to share my location - might just be my settings though - can others confirm they're being asked to share location on mobile please?

[2016-02-09 18:40] critzo commented on #115
@gembarrett This fix works if I don't scroll down too far on the form page. If I scroll so I can see all three icon buttons, then click on the test icon, I still only see a blank white page and have to scroll up. Might be ok for Seattle. Let's flag to walk through it with them and see.

[2016-02-09 18:41] gembarrett commented on #122
Confirmed by @critzo "I sometimes have to restart a browser session to see the location prompt"

[2016-02-09 18:43] critzo commented on #98
This issue was resolve. Closing

[2016-02-09 18:43] #98 closed, assigned to critzo

[2016-02-09 19:16] gembarrett commented on #117
When their new site launches, we will write some JS to get height of elements around iframe and apply appropriate height to the iframe

[2016-02-09 19:17] gembarrett commented on #114
Temp workaround for launch is to hide the mobile menu - just state what data is being shown e.g. "Data shown is download speeds from January - February 2016"

[2016-02-09 19:18] gembarrett commented on #114
Potential future workaround is to use duplicated controls which then copy values across to those linked with the map

[2016-02-09 19:22] gembarrett commented on #114
Also show legend

[2016-02-09 19:26] critzo commented on #114
Per Bruce's feedback on the 2/9 check-in, for small screen widths (below 700), we will replace the current controls with the legend and text:
"Showing _metric_ from _month_, _year_"

[2016-02-09 19:27] gembarrett commented on #114
$('#selectMetric').val()

[2016-02-09 19:32] critzo opened #123 "investigate cross browser geolocation"
Iceweasel (and potentially other browsers) does ask for your location, but does not provide the text about "searching from: " that is displayed in Chrome. Look at which geolocation features need to be enabled for which browsers

[2016-02-09 19:33] gembarrett commented on #123
Linked to #122

[2016-02-09 19:33] critzo commented on #123
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=726230

[2016-02-09 19:38] critzo commented on #115
Per Bruce's feedback in the 2/9 call, this is not a launch priority. Fixing the iframe height will help solve this post launch

[2016-02-09 19:41] gembarrett commented on #112
will technically be dealt with temporarily by #114

[2016-02-09 19:43] critzo commented on #116
duplicate of #112 closing

[2016-02-09 19:43] #116 closed, assigned to nobody

[2016-02-09 19:45] critzo commented on #117
Bruce confirmed on the 2/9 call that this could push until after the launch, and will get resolved with the iFrame height fix.

[2016-02-09 20:13] critzo commented on #113
@georgiamoon @gembarrett This [commit](https://github.com/opentechinstitute/bq2geojson/commit/436594c6968005a8b77c2e662910f6cb3d73641d) should resolve this issue. Can you please confirm?
http://files.opentechinstitute.org/~critzo/mlab/collab/seattle/broadband/broadband-speed-tes

[2016-02-09 20:39] gembarrett commented on #113
Still occurs in Chrome at ~720-760px

[2016-02-09 20:45] critzo commented on #113
Huh. I'm not seeing it on my test mac.

[2016-02-09 20:48] gembarrett commented on #113
I'm confused by the fact it's fine in Firefox as well. Hmm

[2016-02-09 20:52] critzo commented on #113
Fernanda just tested on Mac OS using Chrome and Safari, and things look fine. She is downloading Firefox to test it there as well. Just to confirm, you are looking at the page from files.opentechinstitute.org, right?

[2016-02-09 20:53] critzo commented on #113
Fernanda confirms this looks ok on Firefox for Mac as well.

[2016-02-09 21:07] #113 closed, assigned to critzo

[2016-02-09 21:07] gembarrett opened #125 "Can't change dropdown values"
Mac Firefox 44

Go to map
Try to change dropdown values
Selection fails and switches back to original choice, pans the map

[2016-02-09 21:22] critzo commented on #118
Fernanda just tested for this issue on an iPhone 5c.
The zooming behavior for filling out the form fields works fine.
Double tapping the map zooms in, and pinch in/out to zoom in/out works as well. Fernanda said the controls were a little touchy here, but not a blocking issue.

It might be worth discussing a little more or testing on a newer iPhone? or we could shelve this to v2
@georgiamoon @gemb

[2016-02-09 21:34] critzo opened #126 "display the legend on mobile views"

[2016-02-09 21:54] critzo commented on #126
Resolved in #ba71a36

[2016-02-09 21:54] #126 closed, assigned to critzo

[2016-02-09 22:53] critzo commented on #114
@gembarrett I went ahead and pulled these changes into the piecewise branch and updated Linode. If you are working more this evening, I'm not seeing the text in the bottom bar, but the controls are being hidden, so that should suffice for launch.

[2016-02-10 02:31] gembarrett commented on #114
fixed it, forgot to change branch though so I've ended up reopening the 114-mobile-metrics-workaround branch and all should work fine now.

[2016-02-10 13:59] critzo commented on #114
Merged into piecewise branch. Thanks @gembarrett . Changing this issue to v2 milestone and we'll continue to work on the workaround for functional controls on mobile.

[2016-02-10 14:00] critzo commented on #118
Moving to v2 milestone.

[2016-02-10 14:01] critzo commented on #112
Resolved for V1 Launch in #114. Updating milestone to v2

[2016-02-11 21:15] #38 closed, assigned to nobody

[2016-02-11 21:19] critzo opened #130 "Add text on the Thank you page"
On the THANK YOU! page please add

Your test results will be combined with others and will appear on the map at the end of the month.

directly under THANK YOU!.

[2016-02-11 21:25] critzo opened #131 "Add ISP and other graph visualizations"

[2016-02-12 14:00] critzo commented on #130
Resolved in https://github.com/opentechinstitute/bq2geojson/commit/804857c3648e24e62250eb211da1f2ad5d2929a4

[2016-02-12 14:00] #130 closed, assigned to critzo

[2016-03-15 18:36] critzo commented on #131
Because we're folding bq2geojson into piecewise, copied this issue to:
https://github.com/opentechinstitute/piecewise/issues/61
Closing

[2016-03-15 18:36] #131 closed, assigned to nobody

[2016-03-15 18:38] critzo commented on #125
Because we're folding bq2geojson into piecewise, copied this issue to:
https://github.com/opentechinstitute/piecewise/issues/55
Closing

[2016-03-15 18:38] #125 closed, assigned to nobody

[2016-03-15 18:44] critzo commented on #123
Because we're folding bq2geojson into piecewise, copied this issue to:
https://github.com/opentechinstitute/piecewise/issues/62
Closing

[2016-03-15 18:44] #123 closed, assigned to nobody

[2016-03-15 18:44] critzo commented on #122
Because we're folding bq2geojson into piecewise, copied this issue to:
https://github.com/opentechinstitute/piecewise/issues/62
Closing

[2016-03-15 18:44] #122 closed, assigned to nobody

[2016-03-15 18:47] critzo commented on #119
Because we're folding bq2geojson into piecewise, copied this issue to:
https://github.com/opentechinstitute/piecewise/issues/63
Closing

[2016-03-15 18:47] #119 closed, assigned to nobody

[2016-03-15 18:50] critzo commented on #118
Because we're folding bq2geojson into piecewise, copied this issue to:
https://github.com/opentechinstitute/piecewise/issues/64
Closing

[2016-03-15 18:50] #118 closed, assigned to nobody

[2016-03-15 18:51] critzo commented on #115
related to #117

[2016-03-15 18:52] critzo commented on #114
Because we're folding bq2geojson into piecewise, copied this issue to:
https://github.com/opentechinstitute/piecewise/issues/55
Closing

[2016-03-15 18:52] #114 closed, assigned to nobody

[2016-03-15 18:55] critzo commented on #112
Because we're folding bq2geojson into piecewise, copied this issue to:
https://github.com/opentechinstitute/piecewise/issues/65
Closing

[2016-03-15 18:55] #112 closed, assigned to gembarrett

[2016-03-15 18:57] critzo commented on #108
Because we're folding bq2geojson into piecewise, copied this issue to:
https://github.com/opentechinstitute/piecewise/issues/66
Closing

[2016-03-15 18:57] #108 closed, assigned to nobody

[2016-03-15 18:58] critzo commented on #73
Because we're folding bq2geojson into piecewise, copied this issue to:
https://github.com/opentechinstitute/piecewise/issues/67
Closing

[2016-03-15 18:58] #73 closed, assigned to nobody

[2016-03-15 19:18] critzo commented on #62
Because we're folding bq2geojson into piecewise, copied this issue to:
https://github.com/opentechinstitute/piecewise/issues/68
Closing

[2016-03-15 19:18] #62 closed, assigned to nobody

[2016-03-15 19:25] critzo commented on #6
Because we're folding bq2geojson into piecewise, copied this issue to:
https://github.com/opentechinstitute/piecewise/issues/69
Closing

[2016-03-15 19:25] #6 closed, assigned to nobody

[2016-03-15 19:28] critzo commented on #2
Because we're folding bq2geojson into piecewise, copied this issue to:
https://github.com/opentechinstitute/piecewise/issues/70
Closing

[2016-03-15 19:28] #2 closed, assigned to nobody